img {
  border-radius: 8px;
}
button {
  min-width: 70px;
}

.buttons {
  margin-top: 14px;
  justify-content: space-around;
}

.modal-card-foot {
  justify-content: space-around;
}

.modal-card {
  width: 320px;
}

.dinner-title {
  margin-top: 12px;
}

.vegetarian {
  background-color: #cffddd !important;
}
