/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/* VARIABLES */

:host {
  --main-color: #0560b6;
  --text-color: #575757;
  --text-color-light: #c2bfbf;
  --border-color: #cccccc;
  --bg-color: #eeeeee;
  --neutral-color: #fff;
}


/* GENERAL */

:host {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
    // display: block;
  }

  /* GRID */
  .calendar-grid {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1em;
  }


  /* Calendar */

  .calendar {
    // display: block;
    position: relative;
    width: 100%;
    background: var(--neutral-color);
    border: 1px solid var(--border-color);
    margin: 0 auto;
    margin-top: 1.2em;
    max-width: 70em;
}

// .calendar .header {
//   text-transform: uppercase;
//   font-weight: 700;
//   font-size: 115%;
//   padding: 1.5em 0;
//   border-bottom: 1px solid var(--border-color);
// }

// .calendar .header .icon {
//   cursor: pointer;
//   transition: .15s ease-out;
// }

// .calendar .header .icon:hover {
//   transform: scale(1.75);
//   transition: .25s ease-out;
//   color: var(--main-color);
// }

// .calendar .header .icon:first-of-type {
//   margin-left: 1em;
// }

// .calendar .header .icon:last-of-type {
//   margin-right: 1em;
// }

// .calendar .days {
//   text-transform: uppercase;
//   font-weight: 400;
//   color: var(--text-color-light);
//   font-size: 70%;
//   padding: .75em 0;
//   border-bottom: 1px solid var(--border-color);
// }

// .calendar .body .cell {
//   position: relative;
//   height: 8em;
//   border-right: 1px solid var(--border-color);
//   overflow: hidden;
//   cursor: pointer;
//   background: var(--neutral-color);
//   transition: 0.25s ease-out;
// }

// .calendar .body .cell:hover {
//   background: var(--bg-color);
//   transition: 0.5s ease-out;
// }

// .calendar .body .selected {
//   border-left: 10px solid transparent;
//   border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
//   border-image-slice: 1;
// }

// .calendar .body .row {
//   border-bottom: 1px solid var(--border-color);
// }

// .calendar .body .row:last-child {
//   border-bottom: none;
// }

// .calendar .body .cell:last-child {
//   border-right: none;
// }

// .calendar .body .cell .number {
//   position: absolute;
//   font-size: 82.5%;
//   line-height: 1;
//   top: .75em;
//   right: .75em;
//   font-weight: 700;
// }

// .calendar .body .disabled {
//   color: var(--text-color-light);
//   pointer-events: none;
// }

// .calendar .body .cell .bg {
//   font-weight: 700;
//   line-height: 1;
//   color: var(--main-color);
//   opacity: 0;
//   font-size: 6em;
//   position: absolute;
//   top: .1em;
//   left: 0em;
//   transition: .25s ease-out;
//   letter-spacing: -.07em;
// }

// .calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
//   opacity: 0.15;
//   transition: .5s ease-in;
// }

// .calendar .body .col {
//   flex-grow: 0;
//   flex-basis: calc(100%/7);
//   width: calc(100%/7);
// }
